streamlit
protobuf==3.20.3
setuptools
langchain==0.1.16
langchain-community==0.0.34
langchain-core==0.1.45
langchain-google-genai
faiss-cpu
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pypdf
